<html>
<head>
<style>
  table, th, td {
    border: 1px solid black;
  }
</style>
</head>
<body>

<div class ="indexheading">
<h2>Running Club Members</h2>
<h3>
  Select member name to edit or delete details:
</h3></div>
<div class="indextable3">
<table>
  <tr>
  <th><div class="button4">Member</div></th>
    <th> <div class="button4">Member id</div></th>
   <th> <div class="button4">Session</div></th>

<tr></tr>

  <tr> <% @members.each do |member| %></tr>

  <td> <div class="button3"> <a href="/manager/member/<%= member.id %>">

      <%= member.first_name %>
      <%=member.last_name%></a></div></td>
      <td> <div class="button3"> <a href="/manager/member/<%= member.id %>">

          <%= member.id %>
          </a></div></td>


       <td> <div class="button3a"><%member.sessions %>

         <% member.sessions.each do |session| %>
         <div class ="memberli">
         <li><%= session.name %></li></div>
        <% end %>

      </div>

      </td>

    <%end%>

</tr>
</table>
</div>
</body>
</html>
