<html>
<head>
<style>
  table, th, td {
    border: 1px solid black;
    width td: 100%;
    padding: 15px;
    text-align: center;
  }
</style>
</head>
<body>


<div class ="indexheading">

<h2>Running Club Sessions</h2>
<h3>
  Choose one of listed below sessions
</h3>
</div>


<table>
  <tr>

    <th>Session name</th>

    <th>Location</th>
    <th>Date</th>

        <th>Maximum number</th>

            <th>Number of members</th>

                <th>Distance</th>
                  <th>Level</th>

 <tr> <% for session in @sessions %></tr>
 <td> <div class="button3">
      <a href="/manager/session/<%= session.id %>"><%= session.name %></a>
    </div></td>


        <td><%=session.location%></td>
        <td><%=session.day%></td>
        <td>
  <%= session.max_number %></td>
  <td><%= session.number_of_members %></td>

     <td><%=session.distance%> km</td>
 <td><%=session.level%></td>

<% end %>


</table>


</body>
</html>
