<html>
<head>
<style>
  table, th, td {
    border: 1px solid black;
  }
</style>
</head>
<body>
<div class ="button1" ><a href="/manager"> Index </a> </div>

<div class ="indexheading">

<h2>Running Club Sessions</h2>
<h3>
  Choose one of listed below session
</h3>
</div>


<table>
  <tr>

    <th>Session name</th>

    <th>Location</th>

        <th>Maximum number</th>

            <th>Number of members</th>

                <th>Level</th>
                  <th>Distance</th>
    <th></th>
 <tr> <% for session in @sessions %></tr>
 <td>
      <a href="/manager/session/<%= session.id %>"><%= session.name %></a></td>


        <td><%=session.location%></td>
        <td>
  <%= session.max_number %></td>
  <td><%= session.number_of_members %></td>

     <td><%=session.distance%></td>
 <td><%=session.level%></td>

<% end %>


</table>
</tr>

</body>
</html>
