<div class ="button1"> <a href="/manager"> Index </a> </div>

<h5>Session name: <%= @session.name %></h5>
<h5>Session location: <%= @session.location %></h5>
<h5>Session distance: <%= @session.distance %></h5>
<h5>Session level: <%= @session.level %></h5>
<div class= "button9a">
<a href="/manager/session/<%= @session.id %>/edit"><input type="submit" value="Edit Session"/></a>
</div>

<div class= "button9a">
<form method="post" action="/manager/session/<%= @session.id %>/delete">
  <input type="submit" value="Delete Session"/>
</form></div>
