<div class ="button1"> <a href="/manager"> Index </a> </div>
<div class ="indexheading">
<h2>Running Club Bookings</h2>
<h3>
  Select booking to edit or delete details:
</h3></div>
<div class="indextable">
<table>
  <tr>
  <th><div class="button4">Booking id</div></th>

    <th> <div class="button4">Session Name</div></th>
      <th> <div class="button4">Session Id</div></th>
      <th> <div class="button4">Members Name</div></th>

<tr></tr>

  <tr> <% @bookings.each do |booking| %></tr>

  <td> <div class="button3"> <a href="/manager/bookings/<%= booking.id %>">

      <%= booking.id %></a></div> </td>

      <td> <div class="button3">  <%=booking.session.name%>
       </div></td>
       <td> <div class="button3">  <%=booking.sessions_id%>
        </div></td>
       <td> <div class="button3"> <%booking.member %>
       <%= booking.member.first_name %>  <%= booking.member.last_name %>
       <% end %>


        </div></td>




      </div>
      </td>




</tr>
</table>
</div>
