
<% for booking in @bookings %>
<% end%>
<h2> <a href="/manager/bookings/<%= booking.id %>"> All bookings </h2></a>
<ul>
<% for session in @sessions %>
<h3>Session name: <%= session.name %> </h3><h5>:::
  Distance: <%=session.distance%> :::
    Location: <%=session.location%>
    :::
      Instructor: <%=booking.instructor_name%></h5>
 <h5>Members: </h5><p><%session.members %> <% session.members.each do |member| %>
  <li> <%= member.first_name %>  <%= member.last_name %></li>
  <% end %>
<%end%>
</p>
</ul>
