<p>All bookings </p>

<ul>
<p>
  Choose one of listed below bookings
   <% for booking in @bookings %>

   <a href="/manager/bookings/<%= booking.id %>"> <li> <%= booking.session.name%></li>
  </a>

<% end%>
</ul>
<h2> All bookings </h2>
<a href="/manager/bookings/<%= booking.id %>"> <% for member in @members %>
<%= member.first_name %> <%=member.last_name%>

  <p>Session: <%member.sessions %> <% member.sessions.each do |session| %>
    <%= session.name %></p>
    <% end %>
<%end%>
</a>
