<p>All bookings </p>



<% @bookings.each do |booking| %>


  <p>
    <a href="/manager/member/<%= booking.id %>"><p> Member id:<%= booking.members_id %>
       Session id: <%=booking.sessions_id%></p></a>
  </p>
<% end %>

<% @sessions.each do |session| %>
<p>
  <a href="/manager/member/<%= session.id %>"><%= session.name %>
    <%=session.distance%></a>
</p>

<% end%>


  <% @members.each do |member| %>
 <p> <a href="/manager/member/<%= member.id %>"><%= member.first_name %>
   <%=member.last_name%></a>
</p>
 <% end %>
