<p>All bookings </p>

<p>
  Choose one of listed below bookings


<% @bookings.each do |booking| %>


<a href="/manager/bookings/<%= booking.id %>"> <p>Instructor:<%= booking.instructor_name %>
Session id: <%=booking.sessions_id%> Member id: <%=booking.members_id%></a> </p>
     <% @sessions.each do |session| %>
     <% if session.id == booking.sessions_id %>
        <option value=<%= session.id %> selected><%= session.name %></option>
    <% end %>
    <% end %>
     <% @members.each do |member| %>
     <% if member.id == booking.members_id %>
        <option value=<%= member.id %> selected><%= member.first_name %>
          <%= member.last_name %></option>
      <% else %>
        <option value=<%= member.id %>><% member.first_name %></option>
      <% end %>
    <% end %>
    <% end %>
