<h1>Sessions</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Instructor</th>
    <th></th>
    <th>Location</th>
    <th></th>
    <th>Distance</th>
    <th></th>
    <th>Level</th>
  </tr>
  <% for session in @sessions %>
  <tr>
    <td><a href="/manager/bookings/stats/<%= session.id %>">
    <%= session.name %></a></td>
    <td>|</td>
     <%for booking in @bookings%>
     <%end%>
      <td><%= booking.instructor_name%></td>
        <td>|</td>
    <td><%= session.location %></td>
      <td>|</td><td><%= session.distance%></td>
      <td>|</td><td><%= session.level%></td>
  </tr>
  <% end %>
</table>
