<div class ="button1"> <a href="/manager"> Index </a> </div>

  <a href="/manager/bookings">All bookings </a>
<h2>Session: <%= @session.name.capitalize %></h2>

<p>Level: <%= @session.level %></p>
<p>Session max_number: <%= @session.max_number %></p>

<h3>Members:</h3>

<ul>
  <% @session.members.each do |member| %>
  <li><%= member.first_name %> <%= member.last_name %></li>
  <% end %>
</ul>
