
<html>
<head>
<style>
  table, th, td {
    padding left: 100px;
    display: center;
    border: 1px solid black;
    width td: 100%;
    padding: 5px;
    text-align: center;
  }
</style>
</head>
<body>


<table>
  <tr>
  <tr>
<% for booking in @bookings %>
<% end%>
<!-- <h2> <a href="/manager/bookings/<%= booking.id %>"> Current bookings </h2></a> -->
</tr>
<th>Session name</th>
<th>Session id</th>
<th>Date</th>
<th>Session level</th>
<th>Distance</th>
<th>Location</th>
<th>Available places</th>
<th>Members</th>


<tr> <% for session in @sessions %> </tr>
<td><div class ="button8"> <h4><%= session.name %> </h4></div></td>
<td><h4> <%= session.id%></h4></td>
<td><h4><%=session.day%> </h4></td>
<td><h4><%=session.level%> </h4></td>
<td><h4><%=session.distance%> km </h4></td>
  <td><h4><%=session.location%></h4></td>
    <td><h4><%=session.availability(session.id)%></h4>
    </td>
    <td> <div class = "button9" >

  <%session.members %> <% session.members.each do |member| %>
  <ol>
  <%= member.first_name %>  <%= member.last_name %>
  <% end %></ol>
<%end%>


</div> </td>



</table>
</body>
</html>
