<form method="post" action="/manager/bookings">

  <ul>
    <li>
      <label for="instructor-field">Instructor Name:</label>
      <input type="text" name="instructor_name" id="name-field"/>
    </li>
    <!-- <li>
      <label for="sessions_id-field">Session Name:</label>
      <input type="number" name="sessions_id" id="sessions_id-field"/>
      </li> -->
      <li>
      <label for="sessions">Select Session:</label>
       <select name="sessions_id" id="sessions_id">
         <% @sessions.each do |session| %>
             <option value=<%= session.id %>><%= session.name %></option>
         <% end %>
       </select>
      </li>

       <li>
       <label for="membersfirstname">Select member first name:</label>
        <select name="members_id" id="member.first_name">
          <% @members.each do |member| %>
              <option value=<%= member.id %>><%= member.first_name %></option>
              <%end%>
              </select>
      </li>

      <li>
       <label for="memberslastname">Select member second name:</label>
        <select name="members_id" id="member.last_name">
          <% @members.each do |member| %>
          <option value=<%= member.id %>><%=member.last_name%></option>
          <% end %>
        </select>

      </li>

 
    <li>
      <input type="submit" value="Confirm Entry"/>
    </li>


</form>
