<div class ="button1"> <a href="/manager"> Index </a> </div>

<h5>Booking_id: <%= @booking.id %></h5>
<h5>Booking session_id: <%= @booking.sessions_id %></h5>
<h5>Member member_id <%= @booking.members_id %></h5>

<div class ="button9a">
<a href="/manager/bookings/<%= @booking.id %>/edit"><input type="submit"
  value="Edit booking"/></a></div>
<div class ="button9a">
<form method="post" action="/manager/bookings/<%= @booking.id %>/delete">
  <input type="submit" value="Delete booking"/>
</form></div>
