
<p>Booking instructor name: <%=@booking.instructor_name%></p>
<p>Session id: <%=@booking.sessions_id%>
      <label for="sessions_id-field">Session Name:</label>
       <select name="sessions_id" id="sessions_id">
         <% @sessions.each do |session| %>

         <% if session.id == @booking.sessions_id %>
            <option value=<%= session.id %> selected><%= session.name %></option>
          <% else %>
            <option value=<%= session.id %>><%= session.name %></option>
          <% end %>
        <% end %>
      </select>
      </p>
<p>Member id: <%=@booking.members_id%>

  <label for="members_id-field">Session Name:</label>
   <select name="members_id" id="sessions_id">
     <% @members.each do |member| %>

     <% if member.id == @booking.members_id %>
        <option value=<%= member.id %> selected><%= member.first_name %>
          <%=member.last_name%>
        </option>
      <% else %>
        <option value=<%= member.id %>><%= member.first_name %><%member.last_name%></option>
      <% end %>
    <% end %>
  </select>

</p>

<p><a href="/manager/bookings/<%= @booking.id %>/edit">Edit Booking</a></p>
<form method="post" action="/manager/bookings/<%=@booking.id%>/delete">
  <input type="submit" value="Delete Booking"/>
</form>
